<%-include("../partials/header")%>
    <div class="row">
        <h1 style="text-align: center">Create a F-Corner</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/corners" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Sarafa">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input id="image" type="file" name="image" accept="image/*" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label for="cost">Menu</label>
                    <input class="form-control" type="text" name="menu" id="menu" placeholder="Menu URL" required>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" placeholder="Sarafa, Indore">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="description" id="description" placeholder="Delicious Dishes">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/corners">Go Back</a>
        </div>
    </div>
<%-include("../partials/footer")%>